#header {
    background-image: linear-gradient(rgb(4, 59, 16), white);
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    padding: 30px;
    margin-top: 10px;
}

#blanks, #endgame {
    padding-top: 90px;
    padding: 70px;
    font-size: 50px;
    color: whitesmoke;
    font-weight: bold;
}

.stats {
    background-image: linear-gradient(white,rgb(4, 59, 16));
}

.background {
    background-image: url(../images/ultimate-frisbee.png);
}